__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
.env

checkpoints/
datasets_raw/
datasets_preprocess/
outputs/
tmp/
*.ckpt
*.pth
*.pt

wandb/
lightning_logs/
*.log

logs/**/checkpoints/
logs/**/samples/
logs/**/test_samples/
logs/**/train_samples/
logs/**/val_samples/
